<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords"  content="{{ site.keyword }}">
    <meta name="theme-color" content="{{ site.chrome-tab-theme-color }}">
    
    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>

    <!-- Web App Manifest -->
    <link rel="manifest" href="{{ site.baseurl }}/pwa/manifest.json">

    <!-- Favicon -->
    <!--link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico"-->

    <!-- Safari Webpage Icon    by-BY -->
    <!--link rel="apple-touch-icon" href="{{ site.baseurl }}/img/apple-touch-icon.png"-->
    
    <!-- Canonical URL -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/hux-blog.min.css" | prepend: site.baseurl }}">

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">
    
    <!-- Theorem style 1 by Jiayin-->
    <link rel="stylesheet" href="{{ "/css/hideh6.css" | prepend: site.baseurl }}">
    
    <!-- Latex Theorem style_2 by Jiayin-->
    <link rel="stylesheet" href="{{ "/css/latex_thm.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <!-- Hux change font-awesome CDN to qiniu -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- Hux Delete, sad but pending in China
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/
    css'>
    -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        <!--script type="text/x-mathjax-config" src="{{ "/_includes/mathjax.js" | prepend: site.baseurl }}"> </script-->
        
        <script type="text/x-mathjax-config">
         MathJax.Hub.Config({
           tex2jax: {
             inlineMath: [ ['$','$'], ["\\(","\\)"] ],
             displayMath: [ ['$$','$$'], ["\\[","\\]"]],
             processEscapes: true
           }
         });
       </script>
       <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          TeX: {
            equationNumbers : {			autoNumber : "all"		},
            Macros: {
                pd:"{\\partial}",
                bi:"{\\mathbb i}",
                bC:"{\\mathbb C}",
                bE:"{\\mathbb E}",
                bF:"{\\mathbb F}",
                bN:"{\\mathbb N}",
                bP:"{\\mathbb P}",
                bQ:"{\\mathbb Q}",
                bR:"{\\mathbb R}",
                bZ:"{\\mathbb Z}",
                cA:"{\\mathcal A}",
                cB:"{\\mathcal B}",
                cC:"{\\mathcal C}",
                cD:"{\\mathcal D}",
                cE:"{\\mathcal E}",
                cF:"{\\mathcal F}",
                cM:"{\\mathcal M}",
                cO:"{\\mathcal O}",
                cP:"{\\mathcal P}",
                cT:"{\\mathcal T}",
                half:"{\\frac{1}{2}}",
                cV:"{\\mathcal V}",
                cW:"{\\mathcal W}",
                bx:"{\\boldsymbol}",
                ud:"{\\mathrm{d}}",
                uD:"{\\mathrm{D}}",
                fh:"{\\mathfrak{h}}",
                fg:"{\\mathfrak{g}}",
                ft:"{\\mathfrak{t}}",
                fU:"{\\mathfrak{U}}",
                sG:"{\\mathscr{G}}",
                sA:"{\\mathscr{A}}",
                sB:"{\\mathscr{B}}",
                sC:"{\\mathscr{C}}",
                sE:"{\\mathscr{E}}",
                sH:"{\\mathscr{H}}",
                sO:"{\\mathscr{O}}",
                sM:"{\\mathscr{M}}",
                sS:"{\\mathscr{S}}",
                sU:"{\\mathscr{U}}",
                rH:"{\\mathrm{H}}",
                sR:"{\\mathscr{R}}",
                sT:"{\\mathscr{T}}",
                sD:"{\\mathscr{D}}",
                loto:"{\\longrightarrow}",
                lmto:"{\\longmapsto}",
                gal:"{\\alpha}",
                gbe:"{\\beta}",
                gga:"{\\gamma}",
                gde:"{\\delta}",
                gep:"{\\epsilon}",
                vp:"{\\varphi}",
                pbs:"{\\bar\pd^*}",
                pb:"{\\bar\pd}",
                ad:"{\\mathop{\\rm ad}\\nolimits}",
                Ad:"{\\mathop{\\rm Ad}\\nolimits}",
                Aut:"{\\mathop{\\rm Aut}\\nolimits}",
                End:"{\\mathop{\\rm End}\\nolimits}",
                Ker:"{\\mathop{\\rm Ker}\\nolimits}",
                Rank:"{\\mathop{\\rm Rank}\\nolimits}",
                Coker:"{\\mathop{\\rm Coker}\\nolimits}",
                im:"{\\mathop{\\rm im}\\nolimits}",
                Tr:"{\\mathop{\\rm Tr}\\nolimits}",
                D:"{\\mathop{\\rm D}\\nolimits}",
                be:"{\\begin{equation}}",
                ee:"{\\end{equation}}",
                bes:"{\\begin{equation*}}",
                ees:"{\\end{equation*}}",
                bea:"{\\begin{eqnarray}}",
                eea:"{\\end{eqnarray}}",
                beas:"{\\begin{eqnarray*}}",
                eeas:"{\\end{eqnarray*}}",
                ben:"{\\begin{eqnarray*}}",
                een:"{\\end{eqnarray*}}",
                bst:"{\\begin{split}}",
                est:"{\\end{split}}",
                bp:"{\\begin{proof}}",
                ep:"{\\end{proof}}",
                bex:"{\\begin{exercise}}",
                eex:"{\\end{exercise}}",
                bz:"{\\bar z}"
            }
          }
        });
       </script>
       
       <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
</head>
